html { scroll-behavior: smooth; }

body{
    background-color:#222222;
    color:white;
    font-family: Nunito;
    margin:0;
    overflow-x: hidden;
} 

a{
    color:#b2fe8a;
    text-decoration: none;
}
a:hover{
    color:tomato;
    font-weight: bold;
}
a:active{
    color: white;
}

::selection{
    background-color: #b2fe8a;
}

.page{
    padding-top: 10vh;
}

a:hover {
    color: tomato;
}

h1, h2, h3 {
    font-family: 'Supermercado One';
    color: white;
    z-index: 1;
}

h1{
    font-size:6vw;
    margin-top: 35vh;
    margin-left: 10vw;
    position: absolute;
    -webkit-user-select: none; user-select: none;
}

h2{
    font-size: 4vw;
}

#landing{
    width: 85vw;
    height:100vh;
    top:0;
    right: 0;
    opacity: 100%;
    margin-left: 15vw;
    background-attachment: fixed;
    background-image: url("../images/blug.png");
    background-size: cover;
}

#dimmer{
    width: 100%;
    height:100%;
    background-color: black;
    opacity:10%;
}

#content{
    padding-left: 2vw; padding-right: 10vw;
    box-sizing: border-box;
    margin-left: 15vw;
    padding-bottom: 10vh;
}

/* MENU */

#menu{
    width:20vw;
    height:100%;
    padding-left: 2vw;
    box-sizing: border-box;
    z-index: 3;
    position: fixed;
    -webkit-user-select: none; user-select: none;
}

.burger{
    display: none;
    right:5vw;
    width:10vw;
    height:14vh;
    position:absolute;
    z-index: 15;
}

.burg{
    width:10vw;
    height:100%;
    object-fit: contain;
}

ul{
    margin-top: 30vh;
    list-style-type: none;
    padding: 0;
}

li {
    width: 100%;
    height: 8vh;
}

li a{
    color:#b0b0b0;
    text-decoration: none;
    display:block;
    font-size: 2.5vh;
    height:70%;
    position: relative;
    padding-top: 10%;
}

li a:hover{
    font-weight: bold;
}

li a:visited{
    color: unset;
}

li.current a{
    font-weight: bold;
    color:white;
}

h6{ /*copyright*/
    font-size: 2.5vh;
    font-weight: normal;
    color: #b2fe8a;
    position: fixed;
    bottom: 2vh;
    margin:0;
    margin-left: 2vw;
    z-index: 50;
}

/*ABOUT*/

#meimg{
    object-fit: cover;
    height:32vh;
    aspect-ratio: 1;
    float: left;
    border-radius: 50%;
    margin:3vh;
    margin-left: 0;
    -webkit-user-select: none; user-select: none;
}

.badge{
    width: 6vw;
    height: 6vw;
    margin: 1vw;
    object-fit: contain;
    -webkit-user-select: none; user-select: none;
}

#medesc{
    display: flex;
}

/*ART*/

.artbox{
    display:flex;
    flex-wrap: wrap;
    gap: 1vh;
    box-sizing: border-box;
    align-content: baseline;
    flex-grow: 1;
}

.artthm{
    max-height: 20vh;
    object-fit: cover;
    box-sizing: border-box;
}

.artthm:hover{
    opacity: 50%;
    cursor:pointer;
}

/* DROPDOWNS */

.close{
    width:5%;
    aspect-ratio: 1;
    z-index: 5;
    display:flex;
    top:0;
    right:0;
    position:absolute;
    font-size:7vh;
    -webkit-user-select: none; user-select:none;
    line-height: 100%;
    justify-content: center;
}

.close:hover{
    color:tomato;
    cursor: pointer;
}

#back, #next{
    height:6vh;
    aspect-ratio: 1;
    position: fixed;
    top:81vh;
    z-index: 10;
    text-align: center;
    -webkit-user-select: none; user-select: none;
    font-size: 4vh;
    line-height: 100%;
    left: 10vw;
    font-family: monospace;
    color: #CDCDCD;
}

#next{
    right:10vw;
    left:unset;
}

#back:hover, #next:hover{
    color:#b2fe8a;
    cursor: pointer;
}

.window{
    height:100%;
    width:100%;
}

.bigimg{
    object-fit:scale-down;
    max-width: 100%;
    max-height: 100%;
    margin:auto;
}

.pdf{
    width:100%;
    height:100%;
    border:none;
}

h4{
    font-size: 4vh;
    font-family: 'Supermercado One';
    color: #b2fe8a;
    margin:0;
}

.drop{
    background-color: #222222;
    width:80vw;
    height:80vh;
    top:6vh;
    left:10vw;
    z-index:5;
    position: fixed;
    font-size: 2.5vh;
    box-sizing: border-box;
}

.moreimg{
    width:15%;
    height:96%;
    position: absolute;
    box-sizing: border-box;
    padding:3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1vh;
}

.descimg{
    object-fit: cover;
    width:100%;
    flex-grow: 1;
    max-height: 16%;
}

.bigimgholder{
    width:45%;
    height:96%;
    left: 15%;
    position: absolute;
    box-sizing: border-box;
    padding:3vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.desctext{
    width:40%;
    height:100%;
    position: absolute;
    left:60%;
    box-sizing: border-box;
    padding:3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*DIMMER*/

#skrb{
    background-color: black;
    width:100vw;
    height:100vh;
    z-index:4;
    opacity: 75%;
    position:fixed;
}

/*recent*/

.recentmore{
    width: 10%;
    height: 60vh;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    float:left;
    margin-right: 1%;
}

#bigimgrec{
    object-fit:scale-down;
    max-width: 100%;
    max-height: 100%;
    margin:auto;
}

.recentmore img{
    object-fit: cover;
    margin: 1vh;
    max-height: 16%;
    flex-grow: 1;
}

.recentbig{
    width: 50%;
    height: 60vh;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    float:left;
    margin-right: 1%;
}

.recentdesc{
    width: 38%;
    height: 60vh;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

/*juice*/
 
.juicer-feed li.feed-item{
    height:100%;
}

.juicer-feed.night li.feed-item a{
    display:unset;
    font-size: 1.8vh;
}

.j-overlay{
    padding-top: 6vh !important;
}

.j-overlay .j-overlay-content{
    width:80vw !important;
    height:80vh;
    background: #1f1f1f !important;
    color:white !important;
    max-width: unset !important;
    max-height: unset !important;
}

.j-share{
    display:none !important;
}

.j-post-overlay.juicer-feed .image{
    width:50%;
    height:100%;
}

.j-content-image{
    width:100%;
    height:100%;
    object-fit: scale-down;
}

.j-post-overlay.juicer-feed .j-bottom{
    position:absolute;
    bottom:4%;
}

.j-post-overlay.juicer-feed .j-overlay-text .j-message, .j-post-overlay.juicer-feed .j-overlay-text .j-edit{
    height:70%;
    overflow:hidden;
    -webkit-mask-image: linear-gradient(0deg, transparent 0%, black 30%, black 100%);
    mask-image: linear-gradient(0deg, transparent 0%, black 30%, black 100%);
}

.j-post-overlay.juicer-feed .j-meta{
    display:none;
}

.j-poster .j-date{
    float:left !important;
    margin-top: 0 !important;
}

.j-poster h3, .j-poster .twitter-poster{
    font-size:2.7vh !important;
    color:#b2fe8a !important;
    margin: 0 2vw 0 0 !important;
}

.j-post-overlay.juicer-feed .j-overlay-text .j-message p, .j-post-overlay.juicer-feed .j-overlay-text .j-edit p{
    margin-top: 0;
}

.j-post-overlay.juicer-feed .j-overlay-text{
    padding:4% !important;
}

.j-poster{
    margin:0 !important;
}

.j-post-overlay.juicer-feed a.juicer-button{
    color:white !important;
    border: 2px solid white !important;
}

.j-post-overlay.juicer-feed a.juicer-button:hover{
    color:tomato !important;
    border:2px solid tomato !important;
    background: unset !important;
}

.j-overlay .j-close{
    padding: 0 !important;
    background-size: 3vh 3vh !important;
    width: 3vh !important;
    height: 3vh !important;
}

.j-post-overlay.juicer-feed .j-navigate{
    right:unset !important;    
    left: 0;
    width:80vw;
    padding: 0 1vw 0 1vw;
}

.j-post-overlay.juicer-feed .j-navigate a.j-previous, .j-post-overlay.juicer-feed .j-navigate a.j-next{
    float:right;
}

.j-post-overlay.juicer-feed .j-navigate a.j-previous{
    float: left;
}

.juicer-feed h1.referral{
    position:unset;
}

@media only screen and (max-width:600px) {

    #landing{
        width: 100vw;
        height: 100vh;
        margin-left: unset;
    }
    #content{
        width:100vw;
        margin:0;
        padding: 8vw;
    }
    h6{
        width: 100%;
        text-align: center;
        margin-left: unset;
    }
    h2{
        font-size: 4vh;
    }
    #meimg{
        float:unset;
        margin: 0;
        width: 100%;
        height: unset;
        padding:5vh;
        box-sizing: border-box;

    }
    .badge{
        width:10vh;
        height:10vh;
        margin:1vh;
    }
    .recentbig{
        width:100%;
        height:50vh;
        padding: unset; 
        left:unset;
    }
    .recentmore{
        width:100%;
        height:10vh;
        float:unset;
        flex-direction: row;
        padding: unset;
    }
    .recentdesc{
        width: 100%;
        padding: unset;
        height:unset;
        left:unset;
    }
    .artthm{
        max-width: 48%;
    }
    .drop{
        width:100%; left:unset;
        height:100%; top:unset;
        font-size:2vh;
    }    
    .bigimgholder{
        width:100%;
        height:50%;
        padding-top: 6vh;
        left:unset;
    }
    .moreimg{
        height:10%;
        width:100%;
        flex-direction: row;
        top:50%;
        padding-top: 0; padding-bottom: 0;
    }
    .desctext{
        width:100%;
        height:unset;
        max-height:40%;
        left:unset;
        top:60%;
        justify-content: unset;
    }
    h3{
        font-size: 3vh;
    }
    #skrb{ 
        display:none !important; 
    }
    #back, #next{
        height:8%;
        font-size:12vw;
        bottom: 5%;
        top:auto;
    }
    .close{
        width:12vw;
    }
    #menu{
        width:100%;
        height:100%;
        position: absolute;
        background-color: #222222;
        padding-left: 4%;
    }
    ul{
        height:auto;
        padding: 0;
    }
    li{
        width:100%;
        height:10vh;
    }
    li a{
        color:white;
    }
    #current{
        box-sizing: border-box;
    }
    .burger{
        display:inline-block;
    }
    #menu{
        display: none;
    }
    h1{
        font-size:17vw;
        margin-top: 40vh;
        margin-left: 5%;
        display: inline-block;
    }   
}

.vis{ display:block !important; }

.invis{ display:none; }