
#landing{
    height: 10vh;
}

#logo{
    width: 8vw;
    margin-top: 3vw;
    margin-left: 0vw;
    position: fixed;
}

h4, h7{
    color: black;
    margin-top: 8vw;
    margin-left: 0vw;
    position: fixed;
    font-size: 1vw;
}

h7{
    margin-top: 7vh;
    margin-left: -2.5vh;
    font-size: 2vw;
}

h3{
    font-size: 4vh;
    width:100%;
}

#content{
    top: 0;
}

#overviewbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#overviewbox img{
    object-fit: scale-down;
    max-height: 30vh;
}

#processbox{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2vh;
}

#processbox p{
    margin: 0;
}

.text{
    width: 50%;
    display: flex;
    align-items: center;
}

/*
#processbox img{
    max-width: 45%;
    height: 40vh;
    padding-right: 2vw;
    object-fit: contain;
}
*/

.small{
    padding-left: 10vw;
}

.widep{
    width: 100% !important;
    height: unset !important;
    text-align: center;
    padding: 0 15vw;
}

.tempimg2{
    color: aqua;
    object-fit: contain;
    border: solid 1px black;
    margin-right: 3vh;
    box-sizing: border-box;
    max-height: 30vh;
}
.imgbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
}

.processsection{
    display: flex;
    flex-wrap: wrap;
}

.wideimgs{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wideimgs img{
    height: 30vh !important;
    object-fit: scale-down;
    max-width: 30%;
    padding: 1vh !important;
}

.break{
    height:0;
    flex-basis: 100%;
}

.finalpdf{
    width: 100%;
    height: 60vh;
}

.finalpdf iframe{
    width:100%;
    height: 100%;
}

.backbutton{
    width: 100%;
    height: 5vh;
    text-align: center;
    padding-top: 8vh;
}

@media only screen and (min-width:600px) and (max-width:1081px) {
    .tempimg2, #overviewbox img{
        max-height: 20vh;
    }
}

@media only screen and (max-width:600px) {

    #overviewbox{
        width: 100vw;
        margin: -8vw;
    }
    #overviewbox img{
        max-height: 10vh;
    }
    .importantimg{
        flex-grow: 1;
    }
    .widep{
        padding:0;
    }
    .text{
        width: 100%;
    }
    #processbox img{
        max-width: unset;
        width: 100%;
        height: unset;
        padding-right: unset;
    }
    .wideimgs img{
        max-height: 30vh;
        height: unset !important;
    }
    h4{
        font-size: 4vw;
        color:white;
        margin-top: 16vh;
    }
    h7{
        margin-top:8vh;
        color:white;
        margin-left: -3vw;
        font-size:9vw;
    }
    #logo{
        width:42vw;
    }
    #content{
        top: 10vh;
    }
}
