html { scroll-behavior: smooth; }

:root {
    --sprout: #96cc72;
    --sky: #b4d8f2;
    --blossom: #f6b1cf;
    --russet: #bf7642;
}

body{
    background-color: white;
    color: black;
    font-family: "capriola";
    margin:0;
    overflow-x: hidden;
    font-size:2vh;
    box-sizing: border-box;
} 

a{
    color: black;
    text-decoration: none;
}
a:hover{
    font-weight: bolder;
}
a:active{
    color: var(--russet );
}

::selection{
    background-color: var(--blossom );
}

.page{
    padding-top: 10vh;
}

h1, h2, h3, h4 {
    font-weight: bolder;
    color: black;
    z-index: 1;
}

h2{
    font-size: 3.2vw;
    margin: 2vw 0;
}

h3{
    font-size: 4vh;
    margin-bottom: 0.5em;
}

h4{
    font-size: 2vw;
    margin-top: 58vh;
    margin-left: 6vw;
    position: absolute;
    -webkit-user-select: none; user-select: none;
    color:white;
}

#landing{
    width: 85vw;
    height:100vh;
    top:0;
    right: 0;
    opacity: 100%;
    margin-left: 15vw;
    background-attachment: fixed;
    background-image: url("images/banner.png");
    background-size: cover;
}

/*
#landing img{
    filter: blur(8px); -webkit-filter: blur(8px);
}
*/

#dimmer{
    width: 100%;
    height:100%;
    background-color: black;
    opacity:60%;
}

#logo{
    width: 25vw;
    position: absolute;
    z-index: 10;
    margin-left: 5vw;
    margin-top:25vh;
}

#content{
    padding-left: 2vw; padding-right: 18vw;
    box-sizing: border-box;
    margin-left: 14vw;
    padding-bottom: 10vh;
}

/* MENU */

#menu{
    width:14vw;
    height:100%;
    padding-left: 2vw;
    box-sizing: border-box;
    z-index: 3;
    position: fixed;
    -webkit-user-select: none; user-select: none;
}

#burger{
    display: none;
    right:8vw;
    top:3vh;
    width:12vw;
    height:10vh;
    position:fixed;
    object-fit: scale-down;
    z-index: 4;
}

#menu ul{
    margin-top: 30vh;
    list-style-type: none;
    padding: 0;
}

#menu li {
    width: 100%;
    height: 8vh;
}

#menu li a{
    text-decoration: none;
    display:block;
    font-size: 2.2vh;
    height:70%;
    position: relative;
    padding-top: 10%;
}

#menu li a:hover{
    font-weight: bolder;
    color: var(--russet);
}

/*
li a:visited{
    color: unset;
}
*/

#menu li.current a{
    font-weight: bolder;
    color: var(--blossom);
}

h6{ /*copyright*/
    font-size: 2.5vh;
    color: var(--sky );
    position: fixed;
    bottom: 2vh;
    margin:0;
    margin-left: 2vw;
    z-index: 50;
}

/*ABOUT*/

#meimg{
    object-fit: cover;
    height:36vh;
    aspect-ratio: 1;
    float: left;
    border-radius: 50%;
    padding: 3vh;
    -webkit-user-select: none; user-select: none;
    box-sizing: border-box;
    margin-left: -3vh;
}

#medesc{
    display: flex;
    height: 36vh;
    align-items: center;
    flex-wrap: wrap;
}

#medesc img{
    width: 2.5vw;
    height: 2vw;
    margin: .5vw;
    object-fit: contain;
    -webkit-user-select: none; user-select: none;
}

#medesc p{
    width:100%;
}

#linx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    gap: 2vw;
}
.linq{
    line-height: 2vw;
}
.linq img{
    margin: 0 !important;
    float: left;
}

.linq :hover{
    color: var(--sprout);
    font-weight: unset;
}

/*FEATURED*/
.featuredbox{
    display:flex;
    gap: 1vh;
    justify-content: space-between;
    flex-grow: 1;
}

.featuredthm{
    width: 32vw;
    position: relative;
}

.featuredthm img{
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

/*ART*/

.artbox, .brandbox{
    display:flex;
    flex-wrap: wrap;
    row-gap: 1vw;
    box-sizing: border-box;
    align-content: baseline;
    padding: 0;
    justify-content: space-between;
    margin-top: 5vh;
}

.artbox{
    gap:1vw;
}

.brandbox li{
    width: 32vw;
    max-height: unset !important;
    list-style-type: none;
    position: relative;
}

.artbox li{
    height:30vh;
    max-width: 50vh;
    flex-grow:1;
    list-style-type: none;
    position: relative;
}

#pagebreak{
    flex-grow: 10;
}

.artthm{
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
    transition: 0.5s;
}

.artthm:hover{
    opacity: .5;
    cursor: pointer;
}

.artthmtitle, .featuredthmtitle{
    user-select: none;
    opacity: 0;
    transition: .5s;
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    cursor: pointer;
    text-align: center;
}

.artthmtitle:hover, .featuredthmtitle:hover{
    opacity: .7;
}

/* DROPDOWNS */

.close{
    width:5%;
    aspect-ratio: 1;
    z-index: 6;
    display:flex;
    top:0;
    right:0;
    position:absolute;
    font-size:7vh;
    -webkit-user-select: none; user-select:none;
    line-height: 100%;
    justify-content: center;
}

.close:hover{
    color: var(--sprout);
    cursor: pointer;
}

#back, #next{
    height:6vh;
    aspect-ratio: 1;
    position: fixed;
    top:81vh;
    z-index: 10;
    text-align: center;
    -webkit-user-select: none; user-select: none;
    font-size: 4vh;
    line-height: 100%;
    left: 10vw;
    font-family: monospace;
    color: var(--sky );
}

#next{
    right:10vw;
    left:unset;
}

#back:hover, #next:hover{
    color: var(--sprout);
    cursor: pointer;
}

.window{
    height:100%;
    width:100%;
}

.bigimg{
    object-fit:scale-down;
    max-width: 100%;
    max-height: 100%;
    margin:auto;
    border: black solid;
}

.pdf{
    width:100%;
    height:100%;
    border:none;
}

.drop{
    background-color: white;
    width:80vw;
    height:80vh;
    top:6vh;
    left:10vw;
    z-index:5;
    position: fixed;
    font-size: 2vh;
    box-sizing: border-box;
}

.moreimg{
    width:15%;
    height:96%;
    position: absolute;
    box-sizing: border-box;
    padding:3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1vh;
}

.descimg{
    object-fit: cover;
    width:100%;
    flex-grow: 1;
    max-height: 16%;
}

.bigimgholder{
    width:45%;
    height:96%;
    left: 15%;
    position: absolute;
    box-sizing: border-box;
    padding:3vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.desctext{
    width:40%;
    height:100%;
    position: absolute;
    left:60%;
    box-sizing: border-box;
    padding:3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 150%;
}

/*DIMMER*/

#skrb{
    background-color: black;
    width:100vw;
    height:100vh;
    z-index:4;
    opacity: 75%;
    position:fixed;
}

/*INSTAGRAM*/

.eapps-instagram-feed-posts-item-visible.eapps-instagram-feed-posts-item-loaded{
    font-family: "capriola";
}

.eapps-instagram-feed a:hover{
    font-weight: unset;
}


@media only screen and (max-width:600px) {

    #landing{
        width: 100vw;
        height: 100vh;
        margin-left: unset;
    }
    #logo{
        width: 70vw;
        z-index: 2;
    }
    h4{
        margin-top: 45vh;
        font-size: 6vw;
    }
    #content{
        width:100vw;
        margin:0;
        padding: 8vw;
    }
    h6{ /*copyright*/
        width: 100%;
        text-align: center;
        margin-left: unset;
    }
    h2{
        font-size: 6vh;
    }
    #meimg{
        float:unset;
        margin: 0;
        width: 100%;
        height: unset;
        padding:5vh;
    }
    #medesc{
        height: unset;
    }
    #medesc img{
        width: 10vw;
        height: 10vh;
    }
    #linx{
        height: unset;
        flex-wrap: wrap;
    } 
    .linq{
        width: 100%;
        line-height: 10vh;
    }
    .linq a{
        padding: 2vh;
    }
    .featuredbox{
        flex-wrap: wrap;
    }
    .featuredthm{
        width: 100%;
        height: 22vh;
    }
    .brandbox .artthm{
        width: 100%;
        max-width: unset;
    }
    .artthm{
        max-width: 41vw;
    }
    .drop{
        width:100%; left:0;
        height:100%; top:0;
        font-size:2vh;
        z-index: 5;
    }    
    .descimg{
        max-height: unset;
    }
    .bigimgholder{
        width:100%;
        height:50%;
        padding-top: 6vh;
        left:unset;
    }
    .moreimg{
        height:10%;
        width:100%;
        flex-direction: row;
        top:50%;
        padding-top: 0; padding-bottom: 0;
    }
    .desctext{
        width:100%;
        height:unset;
        max-height:40%;
        left:unset;
        top:60%;
        justify-content: unset;
    }
    h3{
        font-size: 3vh;
    }
    #skrb{ 
        display:none !important; 
    }
    #back, #next{
        height:8%;
        font-size:12vw;
        bottom: 5%;
        top:auto;
    }
    .close{
        width:12vw;
    }
    #menu{
        width:100%;
        height:100%;
        position: fixed;
        background-color: #222222;
        padding-left: 4%;
    }
    ul{
        height:auto;
        padding: 0;
    }
    li{
        width:100% !important;
        height:unset;
    }
    li a{
        color:white;
    }
    .artbox li{
        width: unset !important;
    }
    #current{
        box-sizing: border-box;
    }
    #menu{
        display: none;
    }
}

.vis{ display:block !important; }

.invis{ display:none; }