html { scroll-behavior: smooth; }

:root {
    --sprout: #96cc72;
    --sky: #b4d8f2;
    --blossom: #f6b1cf;
    --russet: #bf7642;
}

body{
    background-color: white;
    color: black;
    font-family: "capriola";
    margin:0;
    overflow-x: hidden;
    font-size: clamp(14px, 1.1vw, 20px);
    box-sizing: border-box;
} 

li{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    font-weight: bolder;
}

::selection{
    background-color: var(--blossom );
}

section{
    padding-top: 8vw;
}

h1, h2, h3, h4 {
    font-weight: bolder;
    line-height: unset;
}

h2{  /* about me, work, case studies, */
    font-size: clamp(40px, 50px, 60px);
    margin: 2vw 0;
}

h3{ /* branding, everything else*/
    font-size: clamp(20px, 30px, 40px);
    margin-bottom: 0.5em;
}

h4{ /* graphic design*/
    font-size: clamp(20px, 30px, 40px);
    margin: 0 6vw;
    position: relative;
    -webkit-user-select: none; user-select: none;
    color:white;
}

header{
    width: 86vw;
    height:100vh;
    position: absolute;
    opacity: 100%;
    margin-left: clamp(130px, 14vw, 14vw);
    background-attachment: fixed;
    background-image: url("images/banner.png");
    background-size: cover;
    z-index: -10;
}

#dimmer{
    width: 100%;
    height:100%;
    background-color: black;
    opacity:60%;
    position: absolute;
    top:0;
    z-index: -9;
}

#logo{
    width: clamp( 30px, 400px, 90vw);
    position: relative;
    z-index: 5;
    margin-left: 5vw;
    margin-top:25vh;
}

main{
    padding-left: 2vw; padding-right: 18vw;
    box-sizing: border-box;
    margin-left: clamp(130px, 14vw, 14vw);
    padding-bottom: 6vw;
    position: absolute;
    top: 100vh;
    width: clamp(130px, 86vw, 86vw);
}

/* NAV */

nav{
    width: clamp(130px, 14vw, 14vw);
    height:100%;
    padding-left: clamp( 20px, 30px, 40px );
    box-sizing: border-box;
    z-index: 3;
    position: fixed;
    -webkit-user-select: none; user-select: none;
}

#burger{
    display: none;
    right:8vw;
    top:5vh;
    width:12vw;
    position:fixed;
    object-fit: scale-down;
    z-index: 4;
}

nav ul{
    margin-top: 30vh;
    list-style-type: none;
    padding: 0;
}

nav li {
    width: 100%;
    height: 8vh;
}

nav li a{
    text-decoration: none;
    display:block;
    height:70%;
    position: relative;
    padding-top: 10%;
}

nav li a:hover{
    font-weight: bolder;
    color: var(--sky);
}

/*
li a:visited{
    color: unset;
}
*/

nav li.current a{
    font-weight: bolder;
    color: var(--blossom);
}

#copyright{ 
    font-size: clamp(14px, 1.1vw, 20px);
    color: var(--sprout );
    position: fixed;
    bottom: 2vh;
    margin:0;
    margin-left: 2vw;
    z-index: 29;
}

/*ABOUT*/

#medescleft img{
    object-fit: cover;
    object-position: 25%;
    width: 100%;
    -webkit-user-select: none; user-select: none;
    box-sizing: border-box;
    padding-right:2vw;
}

#medesc{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    height: clamp( 30vh, 25rem, 70vh );
}

#medescleft{
    height: 100%;
    display: flex;
    width: 30%;
    overflow: hidden;
    margin:0;
}
#medescright{
    height:100%;
    display: flex;
    flex-direction: column;
    width:70%;
    justify-content: center;
}

#badges{
    display: flex;
    flex-direction: row;
}
#badges img, #linx img{
    width: clamp(10px, 30px, 12vw);
    margin: .5vw;
    object-fit: contain;
    -webkit-user-select: none; user-select: none;
}
#linx{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: -.5vw;
    gap: 2vw;
}
.linq{
    border: none;
    font-size: unset;
    background-color: white;
    line-height: clamp(10px, 30px, 12vw);
    cursor: pointer;
    padding: .5vw;
    text-wrap: nowrap;
}
.linq img{
    margin: 0 !important;
    float: left;
    padding-right: clamp(4px, 1.1vw, 20px);
}

.linq:hover{
    color: var(--sprout);
    font-weight: unset;
}

/*FEATURED*/
.featuredbox{
    display:flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-between;
}

.featuredthm, .brandbox li{
    width: clamp(300px, 32vw, 600px);
    position: relative;
    flex-basis: 45%;
    flex-grow: 1;
}

.featuredthm img{
    object-fit: scale-down;
    width: 100%;
    height:100%;
}

/*ART*/

.artbox, .brandbox{
    display:flex;
    flex-wrap: wrap;
    gap: 1vw;
    box-sizing: border-box;
    align-content: baseline;
    padding: 0;
    justify-content: space-between;
    margin-top: 2vw;
}

.artbox li{
    height: clamp( 50px, 180px, 90vw);
    flex-grow:1;
    list-style-type: none;
    position: relative;
    overflow: hidden;
}

#pagebreak{
    flex-grow: 10;
}

.artthm{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s;
}

.artthm:hover{
    opacity: .5;
    cursor: pointer;
}

.artthmtitle, .featuredthmtitle{
    user-select: none;
    opacity: 0;
    transition: .5s;
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
}

.artthmtitle:hover, .featuredthmtitle:hover{
    opacity: .7;
}

/* DROPDOWNS */

#close{
    width: clamp(40px, 60px, 15vw);
    aspect-ratio: 1;
    z-index: 30;
    top:6%;
    right:9.5vw;
    position:fixed;
    font-size: clamp(30px, 50px, 60px);
    -webkit-user-select: none; user-select:none;
    line-height: 100%;
}

#close:hover{
    color: var(--sprout);
    cursor: pointer;
}

#back, #next{
    position: fixed;
    top: 40%;
    z-index: 30;
    text-align: center;
    -webkit-user-select: none; user-select: none;
    font-size: clamp(30px, 50px, 60px);
    left: 7vw;
    font-family: monospace;
    color: var(--sky );
}

#next{
    right:6vw;
    left:unset;
}

#back:hover, #next:hover{
    color: var(--sprout);
    cursor: pointer;
}

.erm{
    display:flex;
    height:100%;
    width:100%;
}

.window{
    width:100%;
    height:100%;
    background-color: black;
}

.bigimg{
    object-fit:scale-down;
    max-width: 100%;
    max-height: 100%;
    margin:auto;
    border: black solid;
}

.pdf{
    width:100%;
    height:100%;
    border:none;
}

.drop{
    background-color: white;
    width:100vw;
    height:80vh;
    top:6vh;
    left:0;
    z-index:10;
    position: fixed;
    box-sizing: border-box;
    padding: 0 9.5vw;
}

.moreimg{
    width:15%;
    height:100%;
    order:1;
    box-sizing: border-box;
    padding:1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:.5vw;
}

.descimg{
    object-fit: cover;
    width:100%;
    flex-grow: 1;
    max-height: 16%;
}
.descimg:hover{
    transform: translate(20px, 0);
}

.bigimgholder{
    width:55%;
    height:100%;
    order:2;
    box-sizing: border-box;
    padding:1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:0;
    justify-content: center;
}

.desctext{
    width:30%;
    height:100%;
    order:3;
    box-sizing: border-box;
    padding:1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desctext a{
    color:var(--blossom);
}

/*DIMMER*/

#skrb{
    background-color: black;
    width:100vw;
    height:100vh;
    z-index:4;
    opacity: 75%;
    position:fixed;
}

/*INSTAGRAM*/

.eapps-instagram-feed-posts-item-visible.eapps-instagram-feed-posts-item-loaded{
    font-family: "capriola";
}
.eapps-instagram-feed a:hover{
    font-weight: unset;
}

@media (max-width:600px){
    header{
        width: 100vw;
        margin-left: unset;
    }
    #copyright{ 
        width: 100%;
        text-align: center;
        margin-left: unset;
    }
    main{
        margin-left: unset;
        padding: 0 10vw;
        width: 100vw;
    }
    #medesc{
        height: unset;
        flex-direction: row;
    }
    #medescleft, #medescright{
        width: 100%;
    }
    #medescleft img{
        float: unset;
        margin: unset;
    }
    #linx{
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }
    .linq{
        width: 100%;
        padding: 2vw;
    }
    .linq img{
        margin: unset;
    }
    .featuredbox{
        flex-wrap: wrap;
    }
    .featuredthm, .brandbox li{
        flex-basis: 100%;
    }
    .drop{
        padding:0;
        width:100%;
        left: 0;
        height: 100%;
        top:0;
    }
    .drop h3{
        margin:0;
    }  
    #skrb{ 
        display:none !important; 
    }
    nav{
        display: none;
        background-color: white;
        width: 100%;
    }
    nav li a{
        padding: 0;
        font-size: 7vw;
    }
    #back, #next{
        bottom: 0;
        top:unset;
    }
}


@media (max-width:1079px){
    #close{
        top:0;
        right:0;
    }
    .erm{
        flex-direction: column;
    }
    .moreimg{
        height:10%;
        width:100%;
        flex-direction: row;
        padding:0;
        order:2;
    }
    .bigimgholder{
        width:100%;
        height:50%;
        order:1;
        padding: 5vw;
    }
    .desctext{
        width:100%;
        height:unset;
        max-height:40%;
        justify-content: unset;
        padding: 5vw;
    }
    .descimg{
        max-height: unset;
        max-width: 16%;
    }
}

.vis{ display:block !important; }

.invis{ display:none; }